<div class="p-3">
    <form action="/materias/add" method="POST">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" name="nombre" placeholder="Nombre" autofocus class="form-control"
                        id="floatingInput" aria-describedby="emailHelp">
                    <label for="floatingInput">Nombre</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="time" type="text" name="hora" placeholder="Hora" autofocus class="form-control"
                        id="floatingInput" aria-describedby="emailHelp">
                    <label for="floatingInput">Hora</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" name="grupo" placeholder="Grupo" autofocus class="form-control"
                        id="floatingInput" aria-describedby="emailHelp">
                    <label for="floatingInput">Grupo</label>
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="submit">Guardar</button>
    </form>
</div>

