<div class="col-lg-6 mx-auto position-absolute top-50 start-50 translate-middle flash">
  <div class="col-md-8 mx-auto">
    <form class="card shadow p-3 mb-5 rounded" action="/signin" method="POST">
      <div class="card-body">
        <div class="form-floating">
          <input type="email" name="email" class="form-control" id="floatingInput email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <br>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="floatingInput password"
            placeholder="name@example.com" autocomplete="on">
          <label for="floatingInput">Password</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>